<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=0.9, maximum-scale=1.0, minimum-scale=0.9">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{#title}}{{title}}{{/title}}{{^title}}APOA Console{{/title}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/printer.png"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/printer.png" alt="Logo" width="30" height="24" class="me-1 d-inline-block align-text-top">
            Ajou Print-on-Air
        </a>
        <div class="navbar-nav">
            <a class="nav-link" href="/set-nickname">Set Phone Number</a>
        </div>
    </div>
</nav>
<div class="container mt-5 mb-5">
